@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.Home{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  width: 100%;
 
}

.bkg {
    background: url('../../StarWarDesign/Art Assets/background.png') no-repeat center center/cover;
    min-height: 100vh;
    background-size:100% 100%;
}
.logostyle img{
    height:60px;
    width:120px;
 
    margin-top:3%;
    margin-right:3%;
}
.line{
    width: 700px;
    box-sizing: border-box;
    border: 0.8px solid #1B6BA2;
    margin-left: 22%;
    opacity: 0.3;
    margin-top:1%;
}
.images{
    width:40%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,150px) ;
    grid-gap: 0px;
    margin-top: 3%;
    margin-left:30%;
    align-items: center;
}
.images img{
    height: 90px ;
    width: 90px;
    
}
.images h1{
    color: white;
    font-weight: 100;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    opacity: 80%;
}
.line2{
  
    box-sizing: border-box;
    border: 0.8px solid #1B6BA2 ;;
    opacity: 0.2;
    margin-top: 3%;
  
}
.Foo img{
    height: 36px;
    width: 120px;
    margin-right:46% ;
    margin-top: 2%;
    
}
.Foo p{
    color: #49486B;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
}
.fooo{
    justify-content: space-between;
    margin-left: 38%;
    position: absolute;
    margin-top: 2%;
}
.fooo h1{
    display:inline-flex;
    margin-left: -36px;
    font-size: 8px;
    color:#1B6BA2 ;
    font-weight:700;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
   
  
}

@media (width:360px){
    .images {
        grid-template-columns: 1fr 1fr;
        margin-left:20%;
        grid-template-rows:repeat(2,65px) ;
        grid-gap:45px;
        margin-top: 12%;
         }
         .line{
            width:100%;
            margin:auto;
            margin-top: 1%;
            }
}
@media (width:500px){
    .images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(2,65px) ;
    grid-gap:45px;
    margin-top: 12%;
    
    
    }
   
    .line{
    width:100%;
    margin:auto;
    margin-top: 1%;
    }
    
    
    }
    @media screen and (min-width:501px) and (max-width:1100px){
        .images {
            grid-template-columns: 1fr 1fr;
            grid-template-rows:repeat(2,65px) ;
            grid-gap:45px;
            margin-top: 12%;
            
            
            }
           
            .line{
            width:100%;
            margin:auto;
            margin-top: 1%;
            }
            
            
         }
  