@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.Species h1{
   color:white;
   text-transform:uppercase;
   font-size: 9px;
   letter-spacing:0.5px;
   opacity: 80%;
   font-family: 'Open Sans', sans-serif;
   line-height: 22px;
}
.button {
   margin-left: 1%;
   margin-top: 1%;
    }
   .button button {
   background: rgba(0, 168, 255,0.4);
   width: 90px;
   height: 27px;
   border: none;
   outline: none;
   margin-left: 20px;
   font-family: 'Open Sans', sans-serif;
   color: white;
   text-transform: uppercase;
   font-size: 10px;
   }
  
   
   .button .active {
      color: #7692A7;
      }